#rates.row
  .span3
    %h3= "%2.1f" % (@stats["unemployed"]["rate"] * 100)
    %span.label.label-warning Unemployed
    %br
    %a.source-link{ :href => @stats["unemployed"]["source"] }= @stats["unemployed"]["source_text"]
  .span3
    %h3= "%2.1f" % (@stats["violent_crime"]["rate"] * 100)
    %span.label.label-important Violent Crime Victim
    %br
    %a.source-link{ :href => @stats["violent_crime"]["source"] }= @stats["violent_crime"]["source_text"]
  .span3
    %h3= "%2.1f" % (@stats["dropout"]["rate"] * 100)
    %span.label.label-success High School Dropout
    %br
    %a.source-link{ :href => @stats["dropout"]["source"] }= @stats["dropout"]["source_text"]
  .span3
    %h3= "%2.1f" % (@stats["poverty"]["rate"] * 100)
    %span.label.label-info Below US Census Poverty Threshold
    %br
    %a.source-link{ :href => @stats["poverty"]["source"] }= @stats["poverty"]["source_text"]

-if @is_logged_in
  %ul.thumbnails#friends
    - @friends.each do |friend|
      %li.thumbnail.friend.span2
        %h3= friend.name
        .picture{ :style => "background-image: url('#{friend.picture}');"}
          - friend.tags.each do |tag|
            %span{ :class => "label label-#{@mappings[tag]}" }= tag.sub("_", " ").capitalize

#action.row
  .span12
    %h2 Want to change this?
    %p Read about some of the great work these organizations do and contact them to get involved in changing the Philadelphia around you.

#organizations-logos.row
  - @organizations.shuffle.take(4).each do |organization|
    .span3
      %a{ :href => organization["website"], :title => organization["name"] }
        %img{ :alt => organization["name"], :src => organization["logo"] }

#footer.row
  .span6.offset3
    %p Created by Erica Atwood, Nick Canzoneri, Hector Castro, Michelle Lee, Jamie Ly
    %p at Code Across America: Philadelphia's Civic Hackathon

